Padre:
<h1>{{titulo}}</h1>
 <ul>
 	<li> Camiseta Rosa </li>
	<li> Camiseta negra </li>
</ul>

<hr/>

<p>
	Nombre del parque: 
	<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()"/> 
</p>

<p>
	Resultado  {{nombreDelParque}}
</p>
<div *ngIf="miparque">
	<h4>Datos de mi parque desde hijo:</h4>	
	<ol >
		<li>{{miparque.nombre}}</li>
		<li>{{miparque.metros}}</li>
		<li>{{miparque.vegetacion}}</li>
		<li>{{miparque.abierto}}</li>
	</ol>
</div>

<hr/>

<p *ngIf="nombreDelParque">
	Hijo:
	<parques [nombre]="nombreDelParque" 
	[metros_cuadrados]="589"
	(pasameLosDatos)="verDatosParque($event)"
	>
		
	</parques>	
</p>

