<h2>{{nombre}}</h2>
<ol>
	<li>Metros: {{metros}}</li>
	<li>Vegetación: {{vegatacion}}</li>
	<li>
		<span *ngIf="abierto == true">Abierto</span>
		<span *ngIf="abierto == false">Cerrado</span>
	</li>
</ol>
<button (click)="emitirEvento()">Mostrar en el padre</button>