<h1>
   Welcome to {{title}}!
</h1>
<a [routerLink]="['/home']" > Inicio</a>
<a [routerLink]="['/animales']" >Animales</a>
<a [routerLink]="['/cuidadores']" >Cuidadores</a>
<a [routerLink]="['/tienda']" >Tienda</a>
<a [routerLink]="['/contacto']" >Contacto</a>
<span *ngIf="emailContacto"> <strong>Email de contacto.</strong>{{emailContacto}} &nbsp; 
    <button (click)="borrarEmail()">Elimnar email de contacto</button> 
</span>
<hr/>

<router-outlet></router-outlet>
